section{
    height: 500px;
    background: white;
    border: solid black 1px;
    font-size: 40px;
}
body {
    margin: 0;
}

.a {
background-color: rgb(43, 41, 41);
height: 100vh;
color: white;

}

footer {
    height: 500px;
    background-color: rgb(43, 41, 41);
}

nav {
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    list-style-type: none;
    width: 500px;
    justify-content: space-around;
    font-size: 30px;
}

li {
    text-decoration: none;

}

h1 {
    font-size: 90px;
    margin: 0;
}

p {
    margin-top: 20px;
}
.intro {
    margin-top: 200px;
    margin-left: 80px;
    
}

#contact {
    background-color: rgb(255, 111, 0);
    border-radius: 40px;
    width: 200px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-size: 35px;
    
}

.b {
    height: 600px;
}

h2 {
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
}

.card-container {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}
.cards {
    display: inline-flex;
    border: solid black 1px;
    height: 400px;
    width: 300px;
    
    
}
