html{
    width: 100%;
}
section{
    height: 500px;
    background: white;
    border: solid black 1px;
    font-size: 40px;
}
body {
    margin: 0;
  
}

.a {
background-color: rgb(43, 41, 41);
height: 100vh;
color: white;

}

footer {
    height: 500px;
    background-color: rgb(43, 41, 41);
}

nav {
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    position: relative;
    justify-content: center;
    margin-top: 10px;
    height: 55px;
    width: 55px;
    border-radius: 100%;
    border: 5px solid white;
    animation: color-change 10s linear infinite;
}



.D {
    position: absolute;
    color: rgb(253, 142, 50);
    top: 10%;
    left: 10%;
    z-index: 10;
}   

.N {
    position: absolute;
    color: rgb(193, 5, 55);
    top: 10%;
    left: 40%;
}

ul {
    display: flex;
    list-style-type: none;
    width: 500px;
    justify-content: space-around;
    font-size: 30px;
}

li {
    text-decoration: none;

}

h1 {
    font-size: 90px;
    margin: 0;
    animation:Slide-in 2s ease-in forwards;
}

@keyframes Slide-in {
    0% {
        transform: translateX(-150%);
    }

    100% {
        transform: translateX(0%)
    }
}

.d {
    background: linear-gradient(90deg, #ff0000, #ffff00, #ff00f3, #0033ff, #ff00c4, #ff0000);
    background-size: 400%;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    animation: color-change 10s linear infinite,  makeshow 4s linear forwards;

}

@keyframes color-change{
    0%{
        background-position: 0%;
    } 
    100% {
        background-position: 400%;
    }
}

@keyframes makeshow {
    0%{
        opacity: 0%;
    }
    50% {
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}       
    
p {
    margin-top: 20px;
}

.intro-area{
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center  
}
.intro {
 margin-left: 80px;
 margin-bottom: 200px;
}

#contact {
    background-color: rgb(255, 111, 0);
    border-radius: 40px;
    width: 200px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-size: 35px;
}

#contact:hover {
    background-color:rgb(177, 78, 2);
    cursor: pointer;
}

#contact:active {
    background:rgb(85, 45, 2);
}
.b {
    position: relative;
    height: auto;
    min-height: 600px;
    padding-bottom: 30px;
}

h2 {
    color: white;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
}
/*
.rOne {
    position: absolute;
    background-color: red;
    box-shadow: 20px 20px 20px rgba(109, 109, 109, 0.863);
    height: 50px;
    width: 600px;
    top: 25%;
    left: -200%;
    -webkit-animation: passing 2s linear  infinite;
}
@keyframes passing{
    0% { 
        left: -200%;
    }

    100% {
        left: 200%
    }
}


.rTwo {
    position: absolute;
    background-color: blue;
    box-shadow: 20px 20px 20px rgba(109, 109, 109, 0.863);
    height: 50px;
    width: 600px;
    top: 50%;
    left: -200%;
    -webkit-animation: passing2 2s linear 1s infinite;
}
@keyframes passing2{
    0% { 
        left: -170%;
    }

    100% {
        left: 150%
    }
}


.rThree {
    position: absolute;
    background-color: purple;
    box-shadow: 20px 20px 20px rgba(109, 109, 109, 0.863);
    height: 50px;
    width: 600px;
    top: 75%;
    left: -200%;
    -webkit-animation: passing3 2s linear 2s infinite;
}

@keyframes passing3{
    0% { 
        left: -200%;
    }


    100% {
        left: 300%
    }
}


.rFour {
    position: absolute;
    background-color: greenyellow;
    box-shadow: 20px 20px 20px rgba(109, 109, 109, 0.863);
    height: 50px;
    width: 600px;
    top: 90%;
    left: -200%;
    -webkit-animation: passing4 2s linear 3s infinite;
}

@keyframes passing4{
    0% { 
        left: -200%;
    }

    25% {
        left: -200%;
    }

    50% {
        left: -100%;
    }

    75% {
        left: 50%;
    }

    100% {
        left: 200%
    }
} */

.card-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    justify-content: space-evenly;
    transform: translatey(20px);
}

.cards {
    display: inline-flex;
    border: solid black 1px;
    background-color: beige;
    height: 400px;
    width: 300px;
    box-shadow: 4px 4px 8px rgb(111, 110, 110);
    border-radius: 8%;
    justify-content: center;
    z-index: 10;
    align-items: center;
    animation: stack .5s linear forwards;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll)* -1s);
}


@keyframes stack {
    0%{
        transform: translatex(-200%);
        
    }
    100%{
        transform: translatex(0%)
    }
}

.cards:hover{
    background-color: lightgrey;
    cursor: pointer;
}

.cards:active{
    background-color: darkgrey;
}
.foot {
    color: white;
}

.social {
padding-bottom: 160px;
}

.social > div {
    margin-top: 15px;
    margin-bottom: 70px;
}

input[type=text], select, textarea {
   width: 100%; /* Full width */
   padding: 12px; /* Some padding */ 
   border: 1px solid #ccc; /* Gray border */
   border-radius: 4px; /* Rounded borders */
   box-sizing: border-box; /* Make sure that padding and width stays in place */
   margin-top: 6px; /* Add a top margin */
   margin-bottom: 16px; /* Bottom margin */
   resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

form {
   background-color: rgb(43, 41, 41);
}

label {
   color: white;
}

textarea {
    height: 200px;
}
 
input[type=submit] {
   background-color: rgb(255, 111, 0);
   color: white;
   padding: 12px 20px;
   border: none;
   border-radius: 4px;
   cursor: pointer;
}
 
input[type=submit]:hover {
   background-color: rgb(177, 78, 2);
}
 
.container {
   border-radius: 5px;
   background-color: rgb(43, 41, 41);
   padding: 20px;
}